a{
 text-decoration:none;
  color:white;
  text-align:center;
  font-size:22px;
}
nav{
  background-color:DodgerBlue;
  text-align:center;
  height:30px;
  width:100%;
  font-family:serif;
  }
nav a{
  margin-right:1em;
  margin-left:1em;
}
h1{
  text-align:right;
  font-size:32px;
  font-family:serif;
 color:red;
}
div{
  color:black;
    text-align:center;
  }
footer{
  background-color:black;
  height:70px;
  color:white;
  line-height:0.5;
  padding:1em;
  font-family:serif;
}

aside{
  width:60%;
  height:250px;
  margin-right:0em;
  background-color:#FFFFF0;
    border:2px soild #f4f4f4;
  float:left;
}
margin-left: 1em;
        }
        .carousel-container {
            position: relative;
            width: 100%;
            height: 250px;
            overflow: hidden;
        }
        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
        }
        .carousel-inner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
}
article{
  display:flex;
}
section{
  border-width:2px;
}
h2{
  font-family:serif;
  }
h3{
  text-align:center;
}
ul{
  line-height:30px;
  }
.news{
  width:38%;
  float:right;
  background-color:#f4f4f4;
  height:250px;
  margin-left:5px;
  overflow:scroll;
}
.container1{
  position:absoluted;
  margin-top:1em;
  width:100%;
  height:250px;
  overflow:hidden;
}
.plan{
  float:left;
  text-align:left;
  margin-left:0em;
  margin-top:1em;
  width:20%;
  height:240px;
  background-color:#f4f4f4;
  overflow:hidden;
}
.data{
  float:left;
  width:30%;
  text-align:left;
  margin-left:1em;
  margin-top:1em;
  background-color:#f4f4f4;
  height:240px;
  overflow:hidden;
}
.data h3 a
{
  color:black;
  font-size:15px;
  text-align:left;
}
.passage{
  float:right;
  width:45%;
  margin-top:1em;
  margin-left:1em;
  height:240px;
  background-color:#f4f4f4;
  overflow:hidden;
}
.footer1{
  position:absoluted;
  margin-top:1em;
  background-color:black;
}
html{
  min-width:660px;
}
